.card {

    width: 18rem;
    margin-bottom: 10px;

}

/*
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;   
    align-items: center;      
}*/

.productos {

    display: flex;
    flex-wrap: wrap;       
    justify-content: start; 
    gap: 10px;  

}

.card-img-top {

    height: 150px; /*Importante para que todas las imágenes tengan el mismo tamaño*/

}

.oculta {

    display: none;

}